.wd-song-image {

    height: 10em;
}


.wd-prof-pic {
    border-radius: 50px;
    height: 5em;
}
.wd-user-section {
    
    padding: 2em;
    display: flex;
}

.wd-username-section {
    padding-left: 7em;
}

.wd-top-songs-header {
    padding-left: 2em;
}


.wd-song-title {
    padding-left: 2em;
}