.wd-song-image {
    height: 10em;
}

.wd-prof-pic {
    border-radius: 50px;
    height: 5em;
}
.wd-user-section {
    padding: 2em;
    display: flex;
}

.wd-username-section {
    padding-left: 7em;
}

.wd-top-songs-header {
    padding-left: 1em;
    
}

.wd-song-title {
    padding-left: 2em;
}

.btn-danger {
    margin-left: 2em;
    margin-bottom: 2em;
}


.wd-username {
    padding-left: 0.2em;
    padding-top: 0.3em;
}


.wd-mingle-row {
    display: inline;
}

.card  {
    display: inline-block;
    height: 350px;
    width: 350px;
    margin-left: 2em;
}

.wd-mingle-image {
    height: 350px;
}