.wd-song-image {
  height: 50px;
  width: 50px;
}


.card-body {
  float: left;
  display: inline;
}


.list-group{
  padding-bottom: 20px;
}

.wd-profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.wd-profile-section{
  display: flex;
}